<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <h1 class="text-center">Enrollment Form</h1>
      <form #userForm="ngForm" *ngIf="!isSubmitted" (ngSubmit)="onSubmit()" novalidate>
        {{ userForm.value | json}}
        <hr>
        {{ userModel | json}}
        <hr>
        {{ userForm.valid }}
        <div class="form-group">
          <label>Name</label>
          <input type="text" required class="form-control"
                 placeholder="Enter name" name="username"
                 [class.is-invalid] = "name.invalid && name.touched"
                 #name="ngModel"
                 [(ngModel)]="userModel.username">
          <small class="text-danger"
                 [class.d-none] = "name.valid || name.untouched">Name is required.</small>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter email"
                 name="email" [(ngModel)]="userModel.email" #email="ngModel"
                 [class.is-invalid] = "email.invalid && email.touched" required
          >
          <small class="text-danger"
                 [class.d-none] = "email.valid || email.untouched"
          >Email is required.</small>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="number" class="form-control" required
                 placeholder="Enter phone" name="phone"
                 [(ngModel)]="userModel.phone" pattern = "^\d{10}$"
                 #phone = "ngModel" [class.is-invalid] = "phone.invalid && phone.touched"
          >
          <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
              <small class="text-danger" *ngIf="phone.errors.required">Phone number must be digit &  required.</small>
              <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digit.</small>
          </div>
        </div>
        <div class="form-group">
          <label>Topics</label>
          <select class="custom-select" name="topic"  [(ngModel)]="userModel.topic" required #topic="ngModel" [class.is-invalid] = "topic.invalid && topic.touched">
              <option selected value="">I am interested in</option>
            <option *ngFor="let topic of topics" value="{{topic}}">{{ topic }}</option>
          </select>
          <small class="text-danger"
                 [class.d-none] = "topic.valid || topic.untouched">Please choose a topic.</small>
        </div>
        <div class="form-group">
          <label>Time Preference</label>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="timePreference" value="morning"  [(ngModel)]="userModel.timePreference">
            <label class="form-check-label">Morning(9AM - 12PM)</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
            <label class="form-check-label">Evening(5PM - 8PM)</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" #subscribe="ngModel" required>
            <label class="form-check-label">Send me promotional offers</label><br>
            <small class="text-danger"
                   [class.d-none] = "subscribe.value === true || ''">Please choose a topic.</small>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="userForm.form.invalid" class="btn btn-primary">Submit Form</button>
        </div>
      </form>
      <div *ngIf="isSubmitted && !errorMessage">
        Form Submitted!
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
